@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>
<form action="#" method="post">
    <select name="category-id">
        <option value="1">Test</option>
    </select>
    <select name="sub-category-id">
        <option value="1">Test</option>
    </select>
    <input  type="text" name ="product-size" />
    <input type="text" name ="measurement-id" />
    <input type="text" name ="product-box-size" />
    <input type="text" name ="resource-id" />
    <input type="text" name ="product-description" />
    <input type="text" name ="buy-price" />
    <input type="text" name ="profit-rate" />
    <input type="text" name ="product-stock" />
  
    <input type="submit" value="Gönder" />



</form>
